<a href="https://colab.research.google.com/github/abnd-me/Public/blob/main/ABHINAND_P_P_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1

In [3]:
import pandas as pd

df = pd.read_csv('/content/Students_Performance.csv')

df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
5,female,group B,high school,free/reduced,completed,23,44,36
6,female,group B,some high school,free/reduced,none,24,38,27
7,female,group D,associate's degree,free/reduced,none,26,31,38
8,female,group D,some high school,free/reduced,none,19,34,32
9,female,group C,high school,standard,none,29,29,30

## A. males and females participated in the test

In [2]:
gender = df['gender'].value_counts()
print(gender)

female    518
male      482
Name: gender, dtype: int64

### B.Student's parental level of education

In [6]:
education = df['parental level of education'].value_counts()
print(education)

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

##C. Who scores the most on average for math, reading and writing

In [11]:
average_scores_gender = df.groupby('gender').mean()[['math score', 'reading score', 'writing score']]
average_scores_course = df.groupby('test preparation course').mean()[['math score', 'reading score', 'writing score']]

print("Average Scores based on Gender:\n", average_scores_gender)
print("\nAverage Scores based on Test Preparation Course:\n", average_scores_course)

Average Scores based on Gender:
         math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

Average Scores based on Test Preparation Course:
                          math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

<ipython-input-11-d5283457dedf>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_scores_gender = df.groupby('gender').mean()[['math score', 'reading score', 'writing score']]
<ipython-input-11-d5283457dedf>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_scores_course = df.groupby('test preparation course').mean()[['math score', 'reading score', 'writing score']]

## D. What do you think about the scoring variation for math, reading and writing

In [8]:
score_variation_gender = df.groupby('gender').std()[['math score', 'reading score', 'writing score']]
score_variation_course = df.groupby('test preparation course').std()[['math score', 'reading score', 'writing score']]

print("Score Variation based on Gender:\n", score_variation_gender)
print("\nScore Variation based on Test Preparation Course:\n", score_variation_course)

Score Variation based on Gender:
         math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225

Score Variation based on Test Preparation Course:
                          math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667

<ipython-input-8-3583a92249e8>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  score_variation_gender = df.groupby('gender').std()[['math score', 'reading score', 'writing score']]
<ipython-input-8-3583a92249e8>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  score_variation_course = df.groupby('test preparation course').std()[['math score', 'reading score', 'writing score']]

## E. Give bonus points to the top 25% of students based on their math score,

In [9]:

threshold = df['math score'].quantile(0.75)

top_25 = df[df['math score'] >= threshold] #students with math scores in the top 25%

#add bonus point
bonus_points = 10
top_25['math score'] += bonus_points

print(top_25)

     gender race/ethnicity parental level of education         lunch  \
414  female        group A                 high school  free/reduced
415  female        group B             master's degree  free/reduced
416  female        group B           bachelor's degree  free/reduced
417  female        group B             master's degree      standard
418  female        group B                 high school      standard
..      ...            ...                         ...           ...
995    male        group E                some college      standard
996    male        group A                some college      standard
997    male        group D                some college      standard
998    male        group E          associate's degree  free/reduced
999    male        group E           bachelor's degree      standard

    test preparation course  math score  reading score  writing score
414               completed          82             88             85
415               completed          82             97             94
416                    none          82             85             87
417                    none          82             90             84
418               completed          82             82             89
..                      ...         ...            ...            ...
995               completed         104             87             81
996               completed         105             96             86
997               completed         105             97             99
998               completed         105            100             93
999               completed         105            100            100

[255 rows x 8 columns]

<ipython-input-9-fb1839dde67a>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_25_percent_students['math score'] += bonus_points

#2 Case Study on Testing of Hypothesis

In [4]:
df1 = pd.read_csv('/content/Sales_add.csv')

df1.head(10)

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735

##Check whether there is any  increase in sales after stepping into digital marketing

In [6]:
import scipy.stats as stats

t_stat, p_value = stats.ttest_rel(df1['Sales_before_digital_add(in $)'], df1['Sales_After_digital_add(in $)'])

# Check the p-value
print("p-value:", p_value)

# Compare p-value with the significance level
if p_value < 0.05:
    print("There is a significant increase in sales after digital marketing.")
else:
    print("There is no significant increase in sales after digital marketing.")

p-value: 6.336667004575778e-11
There is a significant increase in sales after digital marketing.

##Check whether there is any dependency between the features “Region” and “Manager”.

In [7]:

contingency_table = pd.crosstab(df1['Region'], df1['Manager'])

# Perform the Chi-square test
chi2_stat, p_value, dof, expected = stats.chi2_contingency(contingency_table)

# Check the p-value
print("p-value:", p_value)

# Compare p-value with the significance level
if p_value < 0.05:
    print("There is a significant dependency between 'Region' and 'Manager'.")
else:
    print("There is no significant dependency between 'Region' and 'Manager'.")

p-value: 0.5493991051158094
There is no significant dependency between 'Region' and 'Manager'.